# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# .gitignore
# Ignore user-specific files and folders
../../../.gitconfig
../../../.lesshst
../../../.sao/
../../../.vscode/
../../../AppData/
../../../Contacts/
../../../Documents/
../../../Downloads/
../../../Favorites/
../../../IntelGraphicsProfiles/
../../../Links/
../../../Music/
../../../NTUSER.DAT
../../../NTUSER.DAT*
../../.849C9593-D756-4E56-8D6E-42412F2A707B
../Microsoft Edge.lnk
../Visual Studio Code.lnk
../desktop.ini
../itchy-bushes-speak/
../package-lock.json
../sellDotWebsite/
../selldotAdminDashboard/
../../Personal Vault.lnk
../../Pictures/
../../../Saved Games/
../../../Searches/
../../../Videos/
../../../cd
../../../ntuser.dat.*
../../../ntuser.ini

# .gitignore
../../../.gitconfig
../../../.lesshst
../../../.sao/
../../../.vscode/
../../../AppData/
../../../Contacts/
../../../Documents/
../../../Downloads/
../../../Favorites/
../../../IntelGraphicsProfiles/
../../../Links/
../../../Music/
../../../NTUSER.DAT
../../../NTUSER.DAT*
../../.849C9593-D756-4E56-8D6E-42412F2A707B
../Microsoft Edge.lnk
../Visual Studio Code.lnk
../desktop.ini
../itchy-bushes-speak/
../package-lock.json
../sellDotWebsite/
../selldotAdminDashboard/
../../Personal Vault.lnk
../../Pictures/
../../../Saved Games/
../../../Searches/
../../../Videos/
../../../cd
../../../ntuser.dat.*
../../../ntuser.ini

